*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
nav{
    position: fixed;
    background-image: url(https://img.freepik.com/free-photo/nature-colorful-landscape-dusk-cloud_1203-5705.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 80px;
    width: 100%;
    z-index: 99;
}
.logo img{
    margin: -5px 150px;
    width: 10%;
    height: 12vh;
}
nav ul{
    float: right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 13px;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: black;
    transition: 0.5s;
}
/* a.active,a:hover{
    background: peru;
    
    
} */
/* body{
    background-color: lightblue;
} */
section{
    min-height: 100vh;
    padding: 70px 0;
}
#home{
    display: flex;
    background-image: url(https://media.istockphoto.com/id/1502846052/photo/textured-soccer-game-field-with-neon-fog-center-midfield.jpg?s=612x612&w=0&k=20&c=LPSo6ps1NfZ_xviL0tmhnnrcLjjFXAQhsYr3qAOfviY=);
    background-repeat: no-repeat;
    background-size: 100%;
}
.hello{
    margin-left: 5%;
    margin-top: 12%;
    padding: 0 100px;
    max-width: 1000px;
    font-family: fraunces;
    animation: fade-up 0.5s;
}
.hello h1{
    color: white;
    font-size: 50px;
}
.cont{
    text-align: center;
    padding: 20px;
}
.cont a{
    padding: 2%;
    color: white;
    margin-left: 5px;
}
.cont .social-media:hover{
    transform: translateY(10px);
}
.image{
    float: right;
    height: 480px;
    width: 1100px;
    border-radius: 50%;
    margin-top: 7%;
    margin-right: 10%;
    animation: fade-up 0.5s;
}
#services{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/11/901/242/football-ronaldo-football-ronaldo-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#services h1{
    margin-top: 20px;
    margin-left: 15%;
    color: darkblue;
    font-size: 50px;
    font-family: fraunces;
}
.fade-in{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
.container{
    margin: 10%;
    margin-top: 5%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    cursor: pointer;
}
.box{
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background: skyblue;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.box img{
    height: 220px;
    width: 100%;
}
.box h3{
    color: green;
    padding: 10px 0;
    font-size: 30px;
}
.box p{
    color: #777;
    font-size: 15px;
    margin-bottom: 20px;
}
.btn{
    color: green;
    font-size: 20px;
    border: 1px solid lightgray;
    background-color: lightgray;
}
.box:hover{
    transform: scale(1.03);
}
#contact{
    text-align: center;
    background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2022/11/21/16690544280122.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact h1{
    color: #fffffe;
    font-size: 50px;
    margin-top: 30vh;
}
#contact .social-medias{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}
#contact .social-media{
    text-decoration: none;
    color: #fffffe;
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 25px;
}
#contact .social-media:hover{
    transform: translateY(10px);
}
footer{
    text-align: center;
    background-color: #232946;
    border-top: 3px solid var(--primary);
    color: #fffffe;
    font-size: 20px;
    padding: 15px;
}
.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  .from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .from-left,
  .from-right {
    transition: opacity 500ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 500ms ease-in, transform 400ms ease-in;
    transition: opacity 500ms ease-in, transform 400ms ease-in,
      -webkit-transform 500ms ease-in;
    opacity: 0;
  }
  
  .from-left.appear,
  .from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }